.Slides {
  align-items: center;
  border: 1px solid #9e9d9d;
  display: flex;
  justify-content: center;
  position: relative;
  width: 50%;
}
.Indicators {
  display: flex;
  justify-content: space-between;
  left: 45%;
  top: 85%;
  position: absolute;
  width: 60px;
}
