.Container {
  padding: 20px 30px;
}
.Item {
  display: flex;
  margin-bottom: 10px;
}
.Title {
  width: 200px;
}
.Text {
  width: 200px;
}
.Class {
  background-color: #eae8e8;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 28px;
  text-align: center;
  width: 136px;
  height: 30px;
}
